<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <main>
    <!-- Artist Select Box -->
  <form id="artist-form">

    <!-- Label for Text Box -->
    <label for="hero-input">Choose Your Persona</label>

    <!-- Text Input Box -->
    <input type="text" id="hero-input"><br>

    <!-- Submit Button -->
    <input id="hero-search" type="submit" value="GO!">
  </form>

  <!-- Artist Information -->
  <div id="hero-div"></div>

  </main>

  
</body>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/app.js"></script>

</html>
