    <!-- Artist Select Box -->
  <form id="artist-form">

    <!-- Label for Text Box -->
    <label for="hero-input">Choose Your Persona</label>

    <!-- Text Input Box -->
    <input type="text" id="hero-input"><br>

    <!-- Submit Button -->
    <input id="hero-search" type="submit" value="GO!">
  </form>

  <!-- Artist Information -->
  <div id="hero-div"></div>

