body {
  background: url("../images/superHeroBanner-min.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.list-group-item {
  line-height: 2.5;
}

main > h1 {
  text-align: center;
  text-shadow: 2px 2px #444444;
  color: white;
  text-decoration: bold;
}
form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

form > div > input {
  background-color: rgba(189, 189, 189, 0.432) !important;
  border-bottom-color: black !important;
  color: white;
  font-size: 15pt !important;
}
form > div > input:focus {
  box-shadow: none !important;
}

form > div {
  width: 50%;
  margin-left: 5em;
}
form > input {
  width: 10em;
}
form > input:hover {
  background-color: rgb(24, 105, 24);
  box-shadow: 5px 10px 15px rgb(109, 109, 109);
}
main {
  margin-top: 15em;
  margin-left: 12em;
  margin-right: 12em;
}

#hero-div {
  min-width: 610px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
}

#hero-div > div {
  width: 600px;
}

#hero-div > div img {
  width: 210px;
  height: auto;
  margin: auto;
}

.heroCard {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.card-image {
  border-right: 1px solid rgb(209, 209, 209);
  width: 250px;
  padding: 15px;
}
.card-titles {
  font-size: large;
  display: block;
  text-align: center;
}

#hero-div {
  border-radius: 5px;
  background-color: rgba(155, 114, 109, 0.527);
}

#savedHeros {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(229, 215, 154, 0.699);
}

#savedHeros > div {
  box-shadow: 7px 14px 20px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  width: 20em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 3em;
  color: black;
}

#savedHeros > div span {
  font-size: 20px;
  cursor: pointer;
}

#savedHeros > div span:hover {
  font-size: 25px;
  color: rgb(133, 18, 18);
}
.heroImageBookmark {
  width: 30px;
}

.heroImageBookmark img {
  width: 100%;
  border-radius: 15px;
}
